<p>Installing Your New Operating System</p>
<ol>
    <li>Insert the CD-ROM into your CD-ROM drive.</li>
    <li>Choose Run.</li>
    <li>Enter the drive letter of your CD-ROM SETUP.EXE.</li>
    <li>Follow the promts in the setup program.</li>
    <li>Cross your Fingers</li>
</ol>